["Hmm, I wonder where everyone went?"
 "I guess their scents got all mixed up.
 All the smells are wafting through the air~"
 "Oh, if you expect someone weird to show up..."
 "Huh?"
 "Ah, well if isn't you, Yabusame."
 "Um, well, that is...
 Anyways, why are you here Kurohebi?"
 "Well if it isn't you, Yabusame."
 "That's what you just said."
 "Anyways, why are you here?"
 "That's what I just asked..."
 "Geez, what a useless person..."
 "If you're here, Kurohebi,
 does that mean the others are here too?"
 "Didn't you hear the \"voice\"?"
 "Voice?"
 "Yeah, it said that the one who reaches the goal first,
 will have their wish granted."
 "What!"
 "Because of that Tsubakura just beat me up and flew off."
 "Ha ha~ Of course that would happen to you~"
 "So, perhaps I'll do my after-work excersises."
 "Aha, you mean assassination?"
 "Exactly."
 :hide
 "This is unfair! Fighting me after I had already been weakened!"
 "Eh? Well sorry then."
 "Was I too rough with you?"
 "How frustrating..."
 :hide
 "Ugh~ What in the world is this place?
 Actually, now that I think about it seems like it's underwater."
 "Something's really off here~
 It's like another dimension, but it's different than usual..."
 "Ah, just as I thought, it's you Yabusame."
 "Aah! Umm, wait a sec..."
 "Okay?"
 "Umm, err, you're \"Aoi\", right?"
 "It's Aoji.
 I'm sorry, I have such a tough name to remember."
 "That's not true, you know?
 Did someone tell you that?"
 "It was in the dark, but...
 Well anyways, you were sucked in here too, Yabusame?"
 "I don't really get it, but you know what's going on, don't you Aoi?"
 "Haa... even if I had my mind made up,
 I don't really get it either. Except..."
 "Except?"
 "There was something Tsubakura said earlier."
 "So it was Tsubakura again."
 "She said that if you reach the goal first you can leave this place."
 "Seems like it changed a bit..."
 "So, I'm sorry Yabusame,
 but please be defeated for me."
 "...And what exactly does that mean?"
 :hide
 "Yup, as expected the one who hears from Tsubakura is first to the goal!"
 "If you want to see her, she went that way..."
 "Is that so? Then I guess I'll try going that way."
 "Take care~"
 :hide
 "I think I ran into Tsubakura a minute ago, but...
 Where'd she go to?"
 "She looked like she was having fun~ She's really weird~"
 "What are you doing in this place?"
 "Hm...?
 Oh! Hey, hey, there you are! Tsubakura?"
 "Ah~, uh... well, hey there.
 So you came here too?"
 "Huh? Well, I was stumbling along, and I guess I just came in?"
 "No, no, I don't care about that.
 I want to know how you got here."
 "Umm, well, I came in with a fwoosh~ and a shwaah~♪"
 "I see, so that's how..."
 "You seem real dull. What's wrong?"
 "Eh? No, it's nothing..."
 "Hmph... But anyways, do you know anything about this place?"
 "Maybe I know, maybe I don't."
 "Uh, huh...?
 Umm... which is it?"
 "Instead of worrying about it, shouldn't you be hurrying?
 You're still a long ways from being first."
 "That reminds me, what happens if you get first?"
 "There's a huge cash prize."
 "It's changing again..."
 "Well for now, shall we?"
 "Do what? Compare our strength?"
 "No, you see, this is a test."
 "...You really are annoying."
 :hide
 "Ho! That's all!"
 "Ah! Hey! Don't just run off!"
 "It's your fault for not keeping up with me."
 "Now it's official, you really are annoying!"
 "See you later!"
 "Hey, wait already!"
 "...She's gone...
 What's up with her? How weird..."
 "For now I guess I'll chase after her♪"
 :hide
 "I thought I smelled someone from over here...
 They must be really fast."
 "Even though they're fast they're still too late."
 "Oh? Well if it isn't Yabusame."
 "Oh, so it was you Hooaka.
 As I thought you were here too."
 "As you thought...? Ah, so you met with Aoki."
 "Yeah, I beat up Aoi and some other people on my way here."
 "Just now Tsubakura came and beat me up too."
 "You too, huh."
 "It's not like I was really defeated though.
 I just decided to back off a bit."
 "Yeah, yeah, nice excuse."
 "You better do your best too."
 "To beat you up?"
 "Hey, aren't you coming?"
 "To clear up this atmosphere?"
 "Okay, okay.
 Come at me then!"
 "Hooray~
 As expected of the walking strategic weapon!"
 "...Hey now."
 "Let's go at it with no restraint~"
 :hide
 "Haa~ That felt nice, thanks Hooaka."
 "It was no biggie..."
 "By the way, why are you so worn out?"
 "Huh... So I've really been reduced to this..."
 :hide
 "Ah man, I totally lost sight of her..."
 "But despite that there's such a weird smell...
 My head's getting numb."
 "You mix sugar in with honey to sweeten it.
 ...That's the sort of situation this is."
 "Oh, so it's you Kuroji."
 "It seems like this place was influenced by that person's power,
 and became like this."
 "Huh? You smell different than usual, Kuroji."
 "With my newfound power, I can guess that... No, rather..."
 "Did you have some weird power, Kuroji?"
 "I've gained it since coming here.
 However, I have no obligation to explain it to you."
 "You're just as disagreeable as always."
 "Still not as disagreeable as that other dark person, though."
 "Oh yeah,
 by the way have you seen that other dark person?"
 "If I say I met her, then I did.
 If I say I didn't meet her..."
 "So she beat you up too, huh~"
 "....."
 "So where did she go to?"
 "You're the one who just said that I was disagreeable, right?"
 "Well then, looks like I'll have to pry it out of you with brute force~"
 "Even if I'm already wounded, I have no intention to be defeated by you."
 :hide
 "So, please tell me♪"
 "I would have been fine if it had been just Tsubakura, but...
 Well, perhaps this is just a natural consequence..."
 "Ehehe~"
 "I wouldn't recommend going near the sun that casts a shadow."
 "Ah, is that so."
 "There's only going to be bad-natured people from here, you see."
 "...I think I have a feeling who you're talking about."
 "That feeling will be proven quite soon."
 :hide
 "I have to apologize for being so persistent...
 But there's something I wanted to try out."
 :hide
 "Woah, I'm starting to get a real bad feeling about this..."
 "This is so annoying~
 ...Wait, this smell..."
 "\"Annoying\"... What a terribly rude thing to say."
 "I thought it would be you Clause... You're the same as ever."
 "My, Yabusame, so you've come to \"this world\" too."
 "Alright, the conversation can stop right here, thank you♪"
 "Perchance are you looking for Tsubakura?
 I met her a little while ago."
 "And then you lost to her, right?"
 "Lost? Most certainly not! That was definitely not a \"loss\"."
 "Alright, I get it so please don't explain any more."
 "I still haven't mastered my \"ability\", so the match's results were void."
 "I had just mastered the \"strength\" and \"strange nature\",
 so in no time at all I could have brought the divine providence of the world down on her."
 "Yet despite that, I was \"going easy\" on her,"
 "and so I held back my \"self\" which would have otherwise unleashed my \"full power\"."
 "Just shut up already~
 Someone save me~"
 "Although even if I didn't release my \"full power\",
 I'm sure I still could have beaten her with my \"ability\"."
 "I get it already!
 I get it so if we're going to fight let's start already!"
 "Heh heh, now don't be in such a rush.
 Have you ever heard the saying \"haste makes waste\"?"
 "Alright, I get it, now shut up."
 "By focusing too much on \"haste\",
 you will, over time, \"waste\" away your energy."
 "Actually this is wasting both my time and energy."
 :hide]
