[:1
 "Now then, it's about time to play with some of the other people around here."
 "So, for now I'll just take them out one by one."
 "Oh, Tsubakura! I thought for sure that you had died,
 I had really been worried about you."
 "Looks like I caught up with the lowest-ranking member already."
 "However, the others are already way ahead of here."
 "Um, who is?"
 "...Feigning forgetfulness?"
 "Snakes are a lot like eels, aren't they?"
 "Well whatever, I'll finish my job and then go drinking."
 :hide
 "So, who were you talking about?"
 "In the end, this conversation never made much sense."
 :hide
 :2
 "Now then, it's about time for..."
 "Ah, it's you Tsubakura."
 "Ooh, I made a bigger catch than I thought.
 Geez, you're really a nuisance."
 "?
 What are you talking about?"
 "For now just come at me."
 "Huh? What do you mean?"
 "If you're going to say that much then there's no helping it;
 I'll just have to shoot you down!"
 "What!?
 I don't understand at all!"
 "If you defeat me I'll explain it all to you."
 :hide
 "I lost, and I'm so confused~"
 "Fine, I'll tell you.
 Whoever makes it to the goal first gets to leave this place."
 "Well then it's impossible for me...(sob)"
 "Ah, well then don't worry about it."
 :hide
 :3
 "Seems like I ran into some weirdo just now...
 How did she get into this corridor?"
 "Well it doesn't really matter anyways... Huh?"
 "Here she is again...
 Hey, what are you doing here?"
 "Hm...?
 Oh! Hey, hey, there you are! Tsubakura?"
 "Ah~, uh... well, hey there.
 So you came here too?"
 "Huh? Well, I was stumbling along, and I guess I just came in?"
 "No, no, I don't care about that.
 I want to know how you got here."
 "Umm, well, I came in with a fwoosh~ and a shwaah~♪"
 "I see, so that's how..."
 "You seem real dull. What's wrong?"
 "Eh? No, it's nothing..."
 "Hmph... But anyways, do you know anything about this place?"
 "Maybe I know, maybe I don't."
 "Uh, huh...?
 Umm... which is it?"
 "Instead of worrying about it, shouldn't you be hurrying?
 You're still a long ways from being first."
 "That reminds me, what happens if you get first?"
 "There's a huge cash prize."
 "It's changing again..."
 "Well for now, shall we?"
 "Do what? Compare our strength?"
 "No, you see, this is a test."
 "...You really are annoying."
 :hide
 "Ho! That's all!"
 "Ah! Hey! Don't just run off!"
 "It's your fault for not keeping up with me."
 "Now it's official, you really are annoying!"
 "See you later!"
 "Hey, wait already!"
 "......."
 "...Hmph, she's quite the natural wonder."
 :hide
 :4
 "So, is there anyone else left?
 I'm tired of this so it'd be nice if I could finish soon."
 "Oh! It's you Tsubakura."
 "Well bye then."
 "Yup, see ya~"
 "That couldn't have gone any more smoothly."
 "...Hey wait!"
 "Oh well, this will be the sauce on top of my first place victory."
 "So are you talking about miso sauce or ponzu?"
 "Somehow it actually seems like soba broth."
 "As expected, you even prepared yuzukoshou."
 "Alright, let's stop talking and begin."
 "Okay."
 "...It's extremely light sauce, isn't it?"
 "...Hey, wait a minute..."
 "You're pretty slow."
 :hide
 "The sauce was alright."
 "How disappointing."
 "It's almost as if it wasn't disappointing, though."
 "I don't get it. I didn't see any sauce, had it all boiled away?"
 "Please stay away from me as much as possible."
 :hide
 :5
 "Don't you think you're acting like an idiot,
 hiding after I already found you once."
 "I was just practicing completely erasing my presence."
 "If that's the case then you need a lot more practice.
 Try to devote yourself a bit more."
 "Now there's some candid advice."
 "Of course, I don't actually know anything about it."
 "Anyways, I have to find a way out of here.
 I'm not as carefree as you."
 "That so...
 If you're looking for an exit don't stop your search for little old me♪"
 "...Don't tell me you already know something about it?"
 "I may know various things."
 "If you can help, there's just something I want to know."
 "If you defeat me... Well, y'know."
 "In other words, I will hear these words for free?"
 "So let's get to it already.
 I'm in a hurry, you know."
 "Well then, let's!"
 :hide
 "Your performance was passable.
 You kind of worked for the power you gained since coming here."
 "I knew this would happen...
 It's a natural consequence."
 "It was pretty strange of you to come at me like that though."
 "You always, always go ahead of me..."
 "I already told you didn't I....?
 .........I don't know anything about it."
 :hide
 :6
 "I can feel a sense of uneasiness in you today.
 Shall I test it out a bit and see?"
 :hide
 "Oh, it seems like someone even made it this close to the shrine grounds.
 ......What an annoyance."
 "Heh heh..."
 "...And it just got a lot worse."
 "Hmmmm~? Oh my, if it isn't Tsubakura...
 So you've also lost your way and ended up in \"this world\"."
 "Yeah whatever."
 "Heh heh hoo hoo... You also heard the \"voice\", did you not?
 In truth it was a \"coincidence\", interesting, no?"
 "Ah, so that's what it was."
 "According to the \"voice\", the wish of the \"chosen one\" among us,
 would be granted should that person reach the goal."
 "Ah, that may be so."
 "So, by the way Tsubakura...
 Won't you cooperate with me in an \"experiment\"?"
 "Oh, is that so?"
 "If I use the \"ability\" that I've gained,
 I can break the \"curse of the star\"."
 "Ah, no, that's not it."
 "I want to test out just how strong this \"power\" is.
 ...But don't be afraid, I'll go easy on you."
 "Hm, that right?"
 "How long have I waited for this day?
 For an opportunity to unleash this \"dormant ability\" sunken into \"profundity\"!"
 "Uh... huh."
 "Now, shall we begin? Do you have the necessary \"resolve\"?
 .....You powerless little bird!"
 "Uhh......
 What? Are you done talking yet?"
 :hide
 :bad-ending
 "Tsubakura \".....So this is what a simulation is like.\""
 "As the overall monochrome person day-dreamed about what she would do next,
 she lied down in a dimension gap."
 "Tsubakura \"Perhaps I overestimated my endurance?\""
 "Tsubakura \"But if I don't try harder, it's not even worth it to have fun.
 I need to have high expectations for myself...\""
 "Tsubakura \"Well, I guess it's about time to take care of things.
 ....Including my revenge.\""
 "Her figure that stood up as she said that, looked just like Tsubakura again."
 "To be continued...?"
 "ROUTE2 Bad Ending...
 Aim for a no continue! I know it's tough, but please do your best! I'm sorry!!"
 :hide
 :end
 :good-ending
 "A person calling herself Tsubakura took a short rest
 in front of the sun-like object with a bizarre presence."
 "Tsubakura \"Hey, you're better than I thought, I'll give you a passing grade.\""
 "Clause \"Impossible... Where did you get that sort of power...?\""
 "Tsubakura \"So, I guess I'll finish my preparations...
 Getting revenge is unexpectedly troublesome, and it's not even interesting.\""
 "While totally ignoring Clause, the person like Tsubakura took out a pen and paper
 from her pocket, and began writing something, although she was in midair."
 "Clause \"How inexplicable... You're not really Tsubakura, are you?\""
 "Fake Tsubakura \"Oh, bingo! You figured me out pretty well...
 You're smarter than I would expect.\""
 "The person calling herself Tsubakura, without resting her hand, gave out emotionless praise."
 "Clause \"Hmph, just as I had thought...\""
 "Clause's groundless guess incidentally turned out to be true,
 and she made a triumphant look with her tattered face."
 "Fake Tsubakura \"It's about time those others caught up to me...\""
 "She jotted something down at a such a speed that her pen appeared like a blur,
 as Clause continued to sing her own praises in a low murmer."
 "Fake Tsubakura \"Alright, so it's like this. Here we go, then.\""
 "Without responding to Clause at all, the fake Tsubakura raised the paper into the air,
 and in that instant the clothes she was wearing melted away and changed shape."
 "Before long, the fake Tsubakura's clothes had changed completely from head to foot."
 "Clause \"I see, so that's your full getup....
 Your magic power increased immeasurably... What a monster.....\""
 "Clause, who couldn't even use magic, said just the right thing, but as soon as
 the fake Tsubakura finished transforming, she flew towards the black sun like a bullet."
 "There was no longer anyone around to hear Clause's words but herself."
 "Clause \"....This is unexpectedly lonely.\""
 "To be continued ---- EXTRA STAGE.."
 "ROUTE2 ALL CLEAR!!
 You did it! But you know it's not over yet?"
 :hide
 :end
 :extra
 "I must thank you for your help earlier...
 I'll have you return the \"item\" you borrowed."
 "Don't bother me. Just go back to the hospital."
 "This time I'll make you get \"serious\",
 so do your very best not to be killed!"
 :hide
 "Geez, looks like I'm still late even after I've hurried so much."
 "Even though I was just looking into things a little, everyone went off without me.
 How heartless of them."
 "And there's also an imposter among them...
 I wish I knew what she was up to..."
 "Well, I'll have to punish her anyways,
 so while I'm at it I'll get her to talk, somehow♪"
 "You'll go no further!"
 "Well speak of the devil... Are you the imposter?"
 "Don't you know that you'll get a zero
 if you answer a question with another question? Idiot."
 "Tests in the outside world must be pretty severe."
 "Hai, oui, ja, that's right!"
 "...It doesn't matter what language you use, but answer this:
 \"Who are you?\""
 "Quis es tu? Vem är du? Who are you?"
 "That just got you a big fat zero."
 "Man, this really is severe."
 "I can tell that you're just joking around, y'know."
 "I live here in \"Mugenri\", working for the \"Senri\" shrine."
 "\"Mugging\" a \"Sentry\"...?
 What an avant-garde name."
 "No, you've got it messed up."
 "So it's \"Mugging Senselessly\"?
 Sounds like a pretty unpleasant place."
 "You're not the only one who can tell when a person's just joking around."
 "So anyways..."
 "And aren't you the one who came to me asking questions?
 Yet here you are fooling around."
 "So anyways! Why do you look just like me!?
 Is there something you're trying to accomplish?"
 "There's no real reason behind it."
 "....So it's just a hobby?"
 "....."
 "....."
 "...So anyways! Looks like you made it here first.
 Although there's not actually any prize for you, I'm afraid."
 "I still haven't asked you any of the important stuff yet, but..."
 "You said you were going to punish me, didn't you?"
 "Oh, you heard that?"
 "So, show me how you're going to punish me."
 "What'll I get in return again?"
 "One coin."
 "Probably just a measly 100 yen."
 "It's 10 yen."
 "How stingy."
 :hide
 "Oh my~ I give up~
 You did really well punishing me, I'm really glad!"
 "You didn't even fight with your true power, what a troublesome person."
 "Is that really what you would call troublesome?"
 "It makes you seem pretty crazy."
 "I see, so going easy on you was bad...
 ...However, if I had used my true power, I would have killed you, you know?"
 "...Anyways, why don't you finally tell me,
 why you called all of us into this world?"
 "The answer is very simple.
 It's because I have a task for you."
 "Huh?"
 "Well, you see, I want you to do my job,
 while I'm out on trips and stuff."
 "And what job is that?"
 "I already told you, I work at the shrine."
 "Ahh, so you're a priest?"
 "I'm the righteous priest who protects the country beyond here!"
 "Well this doesn't really have anything to do with that..."
 "Is that so? You'll agree to do it?
 Wow, I'm so glad!"
 "Don't pull the conversation along forcefully."
 "I'll tell you more about it, after I welcome the intruder."
 "Intruder?"
 "She's an acquaintance of yours, isn't she?
 The flying natural wonder?"
 "Oh, her~
 I guess I knew she would be here sooner or later."
 "I'm going to get tired,
 having to hold myself back in one fight after another like this."
 "Maybe you should release your true power on her?
 That'd be fun."
 "Oh, you think so?"
 "I'll hide over there and watch from above.
 Maybe I'll even have a drink or two while I watch."
 "...Aren't you two friends?"
 "No comment."
 :hide
 :end]
