[:1
 "Ugh, I can't believe I lost that rock-paper-scissors match with Tsubakura.
 This really sucks~"
 "Actually she's been winning a whole lot recently.
 I bet she's cheating somehow."
 "Who are you talking to?
 Or are you just talking to yourself?"
 "Whoa, who're you?"
 "Oh my, I'm sorry to have startled you, I'm Jun Amanomiya.
 I sell umbrellas and rain gear, would you be interested in buying something?"
 "Hey, were you eavesdropping on me? You're mean!"
 "You seem rather uncourteous."
 "So anyways, who're you?"
 "I already told you, I'm Jun!
 Well, I'm just a humble rain youkai."
 "No way! Does that mean you can change the weather?!"
 "Well, yes. I am a rain youkai, after all."
 "Then you must be the culprit of this incident!"
 "Please don't be so forceful, now."
 "I'll beat you to a pulp♪"
 :hide
 "I did it, I did it! That was tough."
 "What are you even saying..."
 "Huh? You're still alive?"
 "Did you think I had become a ghost or something?"
 :hide
 :2
 "I've come all this way, so I figured I would go buy some groceries at the village, but..."
 "Which way do I go to get there?"
 "You've finally come... flying human."
 "Huh? Did someone say something somewhere?"
 "I heard you were going to the village, so I set up an ambush for you here.
 But do you know how long I've been waiting?!"
 "Oh, were you looking forward to seeing me?"
 "Don't be an idiot! I wasn't waiting for you like that!"
 "I'm so glad, here I thought I had disappointed you."
 "Don't you know it's rude to be late for an ambush?"
 "I'm not late! It's your own fault for waiting for me."
 "Whatever! Now you're just rubbing salt into the wound!"
 "I'll give you more salt than you can handle, you dumb slug!"
 "That's enough out of you! I'm coming for you, enemy of Jun!"
 "Come and get some♪"
 :hide
 "This salt tastes awful~"
 "I, I lost..."
 "Eehhhh?! Not the salt~"
 "No, I'm really gonna die!"
 "Ehehe~"
 :hide
 :3
 "Looks like I'm lost..."
 "I guess I'm making hodgepodge stew tonight♪"
 "The clouds sure look menacing here."
 "Ah, it's another idiot."
 "Don't call me an idiot before I even appear!
 Only idiots like roasted eel, after all!"
 "Mmm, Roasted eel~ Makes my mouth water~"
 "It really is great, isn't it?
 Although it's no match for the delicacy of sunlight♪"
 "To-sho-gu-! To-sho-gu-!!"
 "A weird human who makes such bizarre sounds...
 There's no doubt about it, you must be the culprit!"
 "Let's find out who the real culprit between the two of us is!"
 "Alright! Challenge accepted!"
 "Wait a minute,
 I haven't finished eating the salt yet..."
 "A human who eats salt out of a bag as she walks...
 I've lived a long time but I've never seen anything like this before."
 "It didn't even taste very good. Well anyways, I'm all done!"
 "I admire your dedication to food, and to a full stomach.
 ...Well then, let's start!"
 "I'm full now so I'm ready to beat you up whenever!"
 :hide
 "Now that I've lost there's no denying it.
 There's no doubt that you're more of a culprit than I am!"
 "Y~ay, I did it!"
 "Incidentally, who was the one behind this anyway? This cloudy weather."
 "I guess it probably wasn't that spirit back there after all."
 "You mean that rain youkai?"
 "I'm gonna go look for a culprit that's even stronger than I am!"
 :hide
 :4
 "I'm flying ahead for now,
 but where could the culprit possibly be?"
 "If I go home without solving anything like this,
 Tsuba is gonna get mad at me~"
 "If you're in need of money, you can turn to our financing company for help!"
 "Whoa, is this some kind of salesman!?"
 "My oh my, I could see you had a troubled look from a glance,
 so I gave you a business smile."
 "Not all troubled people are looking for money, you know?"
 "That's not true! Money is a wonderful thing, isn't it?
 Our company makes everyone smile!"
 "You're honestly crooked, aren't you~"
 "My name is Hibaru Kokutenshi,
 I work for the financing company \"Gappori\"."
 "Please stop by when you're in a pinch.
 I'll service you myself~"
 "No way, my wallet's not in that bad of shape."
 "Oh! Don't tell me,
 are you one of those people who crossed into here through the shrine!?"
 "Oh, you've heard about me?
 That shrine is really famous, huh?"
 "So you don't need money since you're living at the shrine...
 Well then, maybe I need to trouble you a bit myself?"
 "...Do you have some sort of grudge against the shrine?"
 "After paying your doctor's bill,
 I'm sure you'll come begging me for a loan!"
 "Ehe, what corrupt business practices~"
 :hide
 "Hey, I almost fell into debtor's hell there..."
 "I've been meeting some pretty dangerous people lately.
 Now I'm worried about getting dragged into all sorts of things."
 "....Huh? I think I see something weird over that way~"
 "...Well, I guess I'll go and find out what it is♪"
 :hide
 :5
 "Wow, what a huge building."
 "It's pretty suspicious, being smack-dab in the middle of all these clouds and all."
 "Oho? Is that a human, nyah?"
 "Hm? A cat?"
 "Welcome! It's pretty rare for a human to come 'round here, chuu."
 "Oh, hi there. You smell really good for some reason~"
 "I just made some rice, would y'like some too?
 Y'shouldn't get too close to this ritual chamber, chuu."
 "Yay, I get some rice!
 By the way, who are you?"
 "M'name's Sukune, I work with clay n' stuff, chuu."
 "So you make clay pots and figures?
 Those things from the Joumon and Yayoi periods?"
 "Oh, for an idiot y'sure know a lot, nyah!"
 "Hehe~ You don't have to praise me for it.
 ...By the way, did you make that hat yourself?"
 "Y'noticed a somethin' good, nyo!
 This is one o' my best creations, gyuu~♪"
 "Ohh~"
 "The harmony 'tween the hat's hardness and my hair's cushionin'
 makes for the ultimate defense, chuu!"
 "Isn't it heavy?"
 "....."
 "....."
 "Y'can't go in this ritual chamber right now,
 so go home, nyah."
 "Huh!? Hey, what about my rice?!"
 "If y'don't go home,
 maybe I'll show y'some of my creations, chuu."
 "Are they really amazing or something?"
 "\"The key to drawin' out the hidden power under the surface of an object\"
 Do y'know what that is, nyo?"
 "Hehe, I'm not too shabby at this whole art business myself.
 I've always gotten first! All #1!"
 "It's not a sin to not understand beauty...
 It's simply pitiable, chuu!"
 :hide
 "Ohh~ I lost~"
 "Now I can head right in here."
 "Wait a sec, nya~
 There's an important ritual goin' on in there, chuu."
 "I'll have to make sure to stop such a suspicious ritual♪"
 "It really isn't as suspicious as y'think..."
 "By the way, what's that weapon you're carrying?"
 "Weapon? Oh, this isn't a weapon, nyah.
 It's a bottle opener, see?"
 "....It sure is huge for a bottle opener...."
 :hide
 :6
 "I won't let y'go any farther, nyu!"
 "You're really overdoing it here~"
 "I'll stop y'by force, chuu!"
 :hide
 "It looks like the clouds are parting...
 ...What's going on here?"
 "So you're the intruder?"
 "Oh!"
 "At a glance, you seem to be a regular human, but..."
 "Hey, normal humans can't go around flying, y'know!"
 "Yes, quite true. Well then, who are you?"
 "Before asking someone's name..."
 "I am Adagumo no Yaorochi, a miracle worker."
 "A miracle worker?
 ...So you're a holy servant or something?"
 "It's all a lie, however."
 "Huh?"
 "To naively accept whatever information your enemy gives you...
 Both you and Sukune are the same, simple fools."
 "How mean, I really believed you.
 Everyone's always saying \"Yabusame, you're so naive\"."
 "So you're called Yabusame... Well, forgive me, Yabusame.
 I'm in an extraordinarily good mood right now, and I went a little too far with my joke."
 "Huh, why are you in such a good mood?"
 "Of course, it's because I was able to be reunited with this, my beloved sword."
 "...That isn't just any ordinary sword, is it?"
 "Oh, can you feel it? The spiritual energy emanating from it?"
 "Spiritual energy...?"
 "Behold! This sword's name is \"Tasouken\"!
 You may recognize its other name, \"Ame no Murakumo no Tsurugi\"!!"
 "The Kusanagi sword!?"
 "Yes, that is yet another of its names.
 As long as I know its real name, you may call it whatever you like."
 "Why is something so amazing here?
 You must be someone really important!"
 "It's said that this sword rests in a shrine in the outside world,
 but the sword there is merely a replica."
 "This sword originally belonged to our clan,
 before you all stole it from us."
 "Well it looks like you got it back again so it should be fine~"
 "A human like you,
 is the perfect subject to test out this blade."
 "Whoa! Don't decide something like that on your own!"
 "Prepare yourself, I'm going to begin."
 "Hey, cut it out!
 You're way too strong for me to handle!"
 "I won't take no for an answer."
 "Yaorochi: Taste the power of Orochi, you ignorant human!
 Yabusame: I already told you I don't wanna fight, you slithery snake!"
 :hide
 :bad-ending
 "At the Senri shrine, although the sky had cleared, there was a person who still had a clouded heart."
 "Yabusame \"Hah... I had to run away, but maybe I was lucky just to get away unharmed...?\""
 "Tsubakura \"Good grief, now we're in quite the predicament...
 Running away shamelessly like that, you really are deplorable.\""
 "Yabusame \"Shut up! You can do anything you want Tsuba, but I'm not that strong so gimme a break!\""
 "Tsubakura \"Well, the incident ended up being solved all by itself this time,
 so it should be fine. It's a good thing those guys aren't really bad people.\""
 "Yabusame \"But it's scary to think about what they could do if they came up
 with some evil plan. They have a sacred treasure now, right?\""
 "Tsubakura \"If they decided to do something evil I'd just beat them up, no problem.\""
 "Yabusame \"That's why I said in the beginning that you were the one who should've gone.\""
 "Yabusame was somehow able to escape, but in truth she was amazed that she could even do that much."
 "But was that sword really the Kusanagi sword?"
 "If it really was, then it was a great feat just for her to escape without injury."
 "And that mysterious shape attached to the sword's hilt...
 Could that have been...?"
 "Yabusame looked up at the sunny Autumn sky,
 as she thought over her many unanswered questions."
 "\"Before the next time the clouds roll in, I want to try becoming a bit more powerful...\""
 "Yabusame had become determined about her new resolution."
 "To be continued..."
 "ROUTE1 Bad Ending...
 Bad endings are always disappointing, so try for a no continue next time!"
 :hide
 :end
 :good-ending
 "Atop the ritual chamber, light was pouring down from the sky from the gaps in the clouds above.
 The shadows of two figures could be seen in the light there."
 "Yabusame \"Did I really win...?\""
 "Yaorochi \"Impossible... It's as if I can't draw out the sword's true power...\""
 "Yabusame \"It seems like it failed to awaken somehow, that's a lucky break♪\""
 "? ? ? \"Ahh! Yaorochi! And you, intruder!
 Don't get in the way o' the ritual, nyah!\""
 "Yabusame \"Oh, it's that haniwa from before.\""
 "Yaorochi \"Sukune...\""
 "Sukune \"Huh? That thing you're holding in your hand... It's m'bottle opener!
 So the ritual succeeded!?\""
 "Yaorochi \"Hmm, yes, but... Huh?
 Wait a minute, what did you just say?\""
 "Yabusame \"Your bottle opener...?\""
 "Sukune \"Hm? Yeah, it's a bottle opener, nyo. Y'see?
 There's a bottle opener on the end. It's m'special \"sword-shaped bottle opener\", nyah.\""
 "Yabusame \"Why would anyone ever need a bottle opener like that...\""
 "Yaorochi \"...What?... It's a.... bottle opener?\""
 "Sukune \"What's wrong, chuu? Yaorochi?\""
 "Yabusame \"Um, so.... Oh!
 You seem really tired from the ritual.\""
 "Sukune \"Oh nyo! Y'gotta rest right away, Yaorochi.
 Hey, let's drink some sake! I'll open the bottle for ya!!\""
 "Yabusame \"It sounds nice to drink sake that was opened with a sacred treasure~
 I'm really thirsty, too~\""
 "Sukune \"Y'want a drink? Y'really really want a drink? Okay, chuu!
 Let's celebrate m'creation's first day completed, nyu!\""
 "Yabusame \"Alright! I'm gonna drink 'til I explode!\""
 "Yaorochi \"It's a... bottle opener...\""
 "Sukune \"Hey, are y'alright, nyah? Yaorochi?\""
 "Yabusame was saved by Yaorochi's misunderstanding(?)."
 "Perhaps the sacred treasure which had been reduced to a bottle opener,
 would never be adequate for anything else again."
 "Yaorochi became absent-minded for a time, but before long she stood up
 and grabbed the sacred treasure which had become a bottle opener."
 "She held it to her heart, not because she desired it's power as a sacred treasure,
 but simply because she loved it."
 "Sukune, who was obsessed over it's surface, and Yaorochi, who was obsessed over it's essence...
 Perhaps the two of them were actually quite compatible with one another."
 "Although one could also think of that as a bad thing..."
 "The instant after that thought passed through her mind,
 Yabusame went back to worrying only about the sake in front of her."
 "To be continued in the Extra Stage..."
 "ROUTE1 ALL CLEAR!! Congratulations! Although the ending was a little cruel.
 At any rate, when you meet someone you love, don't you end up giving them too many flowers?"
 :hide
 :end]
